

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#superBike {
  background-image: url(../img/superBike.jpg);
  height: 650px;	
  right: 0;
}

div.info {
	right: 0;
	margin-right: 5px;
	float: left
}

a.details {
	margin:50px;
}

span.subtitle {
	color: white;
	
}

div.signup{
	position:!important;
	display:inline-block;
	top: 60px;
	height: 220px;
	left: 570px;
	width: 400px;
	padding: 25px;
	
	text-align: center;
	font-size: 25px;
	color: #666;
    background: white;
	opacity: 0.75;
    border: 1px solid rgba(255,255,255,.2);

    -webkit-border-radius: 14px 14px 0px 0px;
    -moz-border-radius: 14px 14px 0px 0px;
    border-radius: 14px 14px 14px 14px;
}