

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#superBike {
  background-image: url(../img/superBike.jpg);
  height: 600px;	
  right: 0;
}

div.info {
	right: 0;
	margin-left: 11px;
	float: right
}

a.details {
	margin:50px;
}


span.subtitle {
	color: white;
	
}









